<div ng-controller="checkStatementController as checkStatement" ng-init="checkStatement.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-list-alt"></i>
            报表中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            检票报表
        </strong>
    </a>
    <hr>


    <div class="col-sm-2 col-condensed">
        <label>成交时间开始</label>
        <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="rd_qcaxwa">
            <!-- <span class="input-group-addon ">开始</span> -->
            <input class="form-control overflow-ellipsis" size="16" type="text" value="" readonly>
            <input type="hidden" id="rd_qcaxwa" value="" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            
        </div>
    </div>
    <div class="col-sm-2 col-condensed">
        <label>成交时间结束</label>
        <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="rd_khaydt">
            <!-- <span class="input-group-addon ">结束</span> -->
            <input class="form-control overflow-ellipsis" size="16" type="text" value="" readonly>
            <input type="hidden" id="rd_khaydt" value="" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            
        </div>
    </div>
    <div class="col-sm-2 col-condensed">
        <label>检票时间开始</label>
        <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="rd_lptvht">
            <!-- <span class="input-group-addon ">开始</span> -->
            <input id="check-date-start" class="form-control " size="16" type="text" value="" readonly>
            <input type="hidden" id="rd_lptvht" value="" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            
        </div>
    </div>
    <div class="col-sm-2 col-condensed">
        <label>检票时间结束</label>
        <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="rd_idwdiz">
            <!-- <span class="input-group-addon ">结束</span> -->
            <input id="check-date-end" class="form-control " size="16" type="text" value="" readonly>
            <input type="hidden" id="rd_idwdiz" value="" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            
        </div>



    </div>
    <hr class="break-space-lg">
    <div class="input-group flex-box multi-input">
        <input ng-model="checkStatement.partnerName" type="text" class="flex-item form-control" placeholder="分销商">
        <input ng-model="checkStatement.goodsName" type="text" class="flex-item form-control" placeholder="商品名">
    </div>
    <hr class="break-space">
    <div class="controls pull-right">
        <button ng-click="checkStatement.export()" class="btn btn-default">
            <i class="glyphicon glyphicon-export"></i> 导出
        </button>
        <button class="btn btn-primary" ng-click="checkStatement.search()" href>
            <i class="glyphicon glyphicon-search"></i>搜索
        </button>
    </div>

    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">

    <div ng-show="checkStatement.loading">loading...</div>
    <table ng-table="checkStatement.tableParams" ng-init="checkStatement.search()" class="table table-hover table-striped">
        <colgroup>
          <col width="40%" />
          <col width="15%" />
          <col width="15%" />
          <col width="15%" />
          <col width="15%" />
          <col width="15%" />
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups">
          <td colspan="6">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
              <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
              <strong>{{ group.value }}</strong>
            </a>
          </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
            <td data-title="'分销商'" groupable="'partnerCode'" ng-if="false">
                {{row.partnerCode}}
            </td>
            <td data-title="'商品名'">
                {{row.goodsName}}
            </td>
            <td data-title="'单价'">
                {{row.price}}
            </td>
            <td data-title="'门票总数'">
                {{row.totalTickets}}
            </td>
            <td data-title="'已检数量'">
                {{row.checkedTickets}}
            </td>
            <td data-title="'已检金额'">
                {{row.checkedPrice}}
            </td>
        </tr>
        <tr ng-repeat-end>
            <td class="text-success text-left"><strong>小计：</strong></td>
            <td></td>
            <td><em>{{checkStatement.sum(group.data, "totalTickets")}}</em></td>
            <td><em>{{checkStatement.sum(group.data, "checkedTickets")}}</em></td>
            <td><em>{{checkStatement.sum(group.data, "checkedPrice")}}</em></td>
        </tr>
        <tfoot ng-if="checkStatement.isLastPage()">
          <tr>
            <td class="text-success text-left"><strong>总计：</strong></td>
             <td></td>
            <td><em>{{checkStatement.totalTotalTickets}}</em></td>
            <td><em>{{checkStatement.totalCheckedTickets}}</em></td>
            <td><em>{{checkStatement.totalCheckedPrice}}</em></td>
          </tr>
        </tfoot>
    </table>
</div>
