<div ng-controller="checkDetailStatementController as checkDetailStatement" ng-init="checkDetailStatement.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-list-alt"></i>
            报表中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            检票员检票
        </strong>
    </a>
    <hr>
    
    <div class="col-sm-3 col-condensed">
        <label>检票时间开始</label>
        <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="rd_qcaxwa">
            <!-- <span class="input-group-addon ">开始</span> -->
            <input id="check-date-start" class="form-control " size="16" type="text" value="" readonly>
            <input type="hidden" id="rd_qcaxwa" value="" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            
        </div>
    </div>
    <div class="col-sm-3 col-condensed">
        <label>检票时间结束</label>
        <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="rd_khaydt">
            <!-- <span class="input-group-addon ">结束</span> -->
            <input id="check-date-end" class="form-control " size="16" type="text" value="" readonly>
            <input type="hidden" id="rd_khaydt" value="" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            
        </div>



    </div>
    <hr class="break-space-lg">
    <div class="input-group flex-box multi-input">
        <input ng-model="checkDetailStatement.partnerName" type="text" class="flex-item form-control" placeholder="分销商">
        <input ng-model="checkDetailStatement.goodsName" type="text" class="flex-item form-control" placeholder="商品名">
        <input ng-model="checkDetailStatement.orderId" type="number" class="flex-item form-control" placeholder="订单号">
        <input ng-model="checkDetailStatement.parterOrderId" type="text" class="flex-item form-control" placeholder="分销商订单号">
		<input ng-model="checkDetailStatement.checkPerson" type="text" class="flex-item form-control" placeholder="检票员">
    </div>
    <hr class="break-space">
    <div class="controls pull-right">
        <button ng-click="checkDetailStatement.export()" class="btn btn-default">
            <i class="glyphicon glyphicon-export"></i> 导出
        </button>
        <button class="btn btn-primary" ng-click="checkDetailStatement.search()" href>
            <i class="glyphicon glyphicon-search"></i>搜索
        </button>
    </div>

    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">

    <table ng-table="checkDetailStatement.tableParams" ng-init="checkDetailStatement.search()" class="table table-hover table-striped">
        <colgroup>
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups">
          <td colspan="10">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
              <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
              <strong>{{ group.value }}</strong>
            </a>
          </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
            <td data-title="'分销商'" groupable="'partnerCode'" ng-if="false">
                {{row.partnerCode}}
            </td>
            <td data-title="'商品名'">
                {{row.goodsName}}
            </td>
            <td data-title="'联系人'">
                {{row.bookPerson}}
            </td>
            <td data-title="'联系电话'">
                {{row.bookMobile}}
            </td>
            <td data-title="'分销商订单号'">
                {{row.parterOrderId}}
            </td>
            <td data-title="'订单号'">
                {{row.orderId}}
            </td>
            <td data-title="'单价'">
                {{row.price}}
            </td>
            <td data-title="'检票数量'">
                {{row.checkedTickets}}
            </td>
            <td data-title="'检票金额'">
                {{row.checkedPrice}}
            </td>
            <td data-title="'检票时间'">
                {{row.checkTime | date:'yyyy.MM.dd HH:mm:ss'}}
            </td>
            <td data-title="'检票员'">
                {{row.checkPerson}}
            </td>
        </tr>
        <tr ng-repeat-end>
            <td class="text-success text-left"><strong>小计：</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><em>{{checkDetailStatement.sum(group.data, "checkedTickets")}}</em></td>
            <td><em>{{checkDetailStatement.sumFloat(group.data, "checkedPrice")}}</em></td>
            <td></td>
            <td></td>
        </tr>
        <tfoot ng-if="checkDetailStatement.isLastPage()">
          <tr>
            <td class="text-success text-left"><strong>总计：</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><em>{{checkDetailStatement.totalCheckedTickets}}</em></td>
            <td><em>{{checkDetailStatement.totalCheckedPrice}}</em></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
    </table>
    <div ng-show="checkDetailStatement.loading">loading...</div>
    <div ng-show="checkDetailStatement.noData">无数据</div>

</div>