<div ng-controller="checkStatementController as checkStatement" ng-init="checkStatement.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-list-alt"></i>
            报表中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            检票报表
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-sm-3 col-condensed">
            <label>成交时间开始</label>            
            <div class="dateAndTime">
                <div class="input-group date form_date flexDate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">
                    <input id="order-create-date-start" class="form-control cursor-pointer" type="text" value="" readonly>
                    <input type="hidden" id="rd_qcaxwa" value=""/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div class="input-group flexTime">
                    <input id="order-create-time-start" required type="time" step="1" class="form-control cursor-pointer noArrow">
                    <span ng-click="checkStatement.clearOrderStart()" class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                </div>                
            </div>        
        </div>
        
        <div class="col-sm-3 col-condensed">
            <label>成交时间结束</label>            
            <div class="dateAndTime">
                <div class="input-group date form_date flexDate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_khaydt" data-link-format="yyyy-mm-dd">
                    <input id="order-create-date-end" class="form-control cursor-pointer" type="text" value="" readonly>
                    <input type="hidden" id="rd_khaydt" value=""/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div class="input-group flexTime">
                    <input id="order-create-time-end" required type="time" step="1" class="form-control cursor-pointer noArrow">
                    <span ng-click="checkStatement.clearOrderEnd()" class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                </div>                
            </div>        
        </div>
        <div class="col-sm-3 col-condensed">
            <label>检票时间开始</label>            
            <div class="dateAndTime">
                <div class="input-group date form_date flexDate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_lptvht" data-link-format="yyyy-mm-dd">
                    <input id="check-date-start" class="form-control cursor-pointer" type="text" value="" readonly>
                    <input type="hidden" id="rd_lptvht" value=""/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div class="input-group flexTime">
                    <input id="check-time-start" required type="time" step="1" class="form-control cursor-pointer noArrow">
                    <span ng-click="checkStatement.clearCheckStart()" class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                </div>                
            </div>        
        </div>
        <div class="col-sm-3 col-condensed">
            <label>检票时间结束</label>            
            <div class="dateAndTime">
                <div class="input-group date form_date flexDate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_idwdiz" data-link-format="yyyy-mm-dd">
                    <input id="check-date-end" class="form-control cursor-pointer" type="text" value="" readonly>
                    <input type="hidden" id="rd_idwdiz" value=""/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div class="input-group flexTime">
                    <input id="check-time-end" required type="time" step="1" class="form-control cursor-pointer noArrow">
                    <span ng-click="checkStatement.clearCheckEnd()" class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                </div>                
            </div>        
        </div>
        <!-- <div class="col-sm-3 col-condensed">
            <label>检票时间结束</label>
            <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="rd_idwdiz">
                <input id="check-date-end" class="form-control " size="16" type="text" value="" readonly>
                <input type="hidden" id="rd_idwdiz" value="" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
        </div> -->
    </div>
    <hr class="break-space">
    <div class="input-group flex-box multi-input">
        <input ng-model="checkStatement.partnerName" type="text" class="flex-item form-control" placeholder="分销商">
        <input ng-model="checkStatement.goodsName" type="text" class="flex-item form-control" placeholder="商品名">
        <input ng-model="checkStatement.checkUserName" type="text" class="flex-item form-control" placeholder="检票员">
    </div>
    <hr class="break-space">
    <div class="controls pull-right">
        <button ng-click="checkStatement.export()" class="btn btn-default">
            <i class="glyphicon glyphicon-export"></i> 导出
        </button>
        <button class="btn btn-default" ng-click="checkStatement.searchDetail(true)" href>
            <i class="glyphicon glyphicon-list"></i> 明细
        </button>
        <button class="btn btn-primary" ng-click="checkStatement.search(true)" href>
            <i class="glyphicon glyphicon-search"></i> 报表
        </button>
        
    </div>
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">

    
    <div ng-show="checkStatement.loading ">loading...</div>
    <div ng-show="checkStatement.showStatement">
        <!-- <div ng-show="checkStatement.loading">loading...</div>
        <div ng-show="checkStatement.noData">无数据</div> -->
        <table ng-table="checkStatement.tableParams" ng-init="checkStatement.search(false)" class="table table-hover table-striped" >
            <colgroup>
                <col width="40%" />
                <col width="15%" />
                <!-- <col width="15%" /> -->
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
            </colgroup>
            <tr class="ng-table-group" ng-repeat-start="group in $groups">
                <td colspan="6">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        <strong>{{ group.value }}</strong>
                    </a>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
                <td data-title="'分销商'" groupable="'partnerCode'" ng-if="false">
                    {{row.partnerCode}}
                </td>
                <td data-title="'商品名'">
                    {{row.goodsName}}
                </td>
                <td data-title="'单价'">
                    {{row.price}}
                </td>
                <!-- <td data-title="'门票总数'">
                    {{row.totalTickets}}
                </td> -->
                <td data-title="'已检数量'">
                    {{row.checkedTickets}}
                </td>
                <td data-title="'已检金额'">
                    {{row.checkedPrice}}
                     <p ng-repeat="dataDetail in row.checkDetail">123</p>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td class="text-success text-left"><strong>小计：</strong></td>
                <td></td>
                <!-- <td><em>{{checkStatement.sum(group.data, "totalTickets") | removeZero}}</em></td> -->
                <td><em>{{checkStatement.sum(group.data, "checkedTickets")  | removeZero}}</em></td>
                <td><em>{{checkStatement.sum(group.data, "checkedPrice")  | removeZero}}</em></td>
            </tr>
            <tfoot ng-if="checkStatement.isLastPage()">
                <tr>
                    <td class="text-success text-left"><strong>总计：</strong></td>
                    <td></td>
                    <!-- <td><em>{{checkStatement.totalTotalTickets}}</em></td> -->
                    <td><em>{{checkStatement.totalCheckedTickets}}</em></td>
                    <td><em>{{checkStatement.totalCheckedPrice}}</em></td>
                </tr>
            </tfoot>
        </table>
    </div>

    
    <!-- 明细列表 -->
    <div ng-show="!checkStatement.showStatement">    
        <table ng-table="checkStatement.detailTaleParams" ng-init="checkStatement.search(false)" class="table table-hover table-striped" >
            <tr  ng-repeat="row in $data" >
                <td data-title="'分销商'" groupable="'partnerCode'" ng-if="false">
                    {{row.partnerCode}}
                </td>
                <td data-title="'订单号'">
                    {{row.orderID}}
                </td>
                <td data-title="'订票人'">
                    {{row.bookerName}}
                </td>
                <td data-title="'客源地'">
                    {{row.bookerLocation}}
                </td>
                <td data-title="'手机号'">
                    {{row.bookerPhone}}
                </td>
                <td data-title="'证件类型'">
                    {{row.bookerIDType | checkIdentity}}
                </td>
                <td data-title="'证件号'">
                    {{row.bookerID}}
                </td>
                <td data-title="'票型'">
                    {{row.goodsName}}
                </td>
                <td data-title="'分销商'">
                    {{row.otaName}}
                </td>
                <td data-title="'购票'">
                    {{row.totalCount}}
                </td>
                <td data-title="'已检'">
                    {{row.orderCheckCount}}
                </td>
                <td data-title="'退票'">
                    {{row.refundCount}}
                </td>
                <td data-title="'游玩时间'">
                    {{row.orderAvailDate}}
                </td>
                <td data-title="'检票详情'">
                    <span ng-repeat="dataDetail in row.checkDetail">{{dataDetail.checkTime}} {{dataDetail.checkUserName}} 检票{{dataDetail.checkCount}}张<br /></span>
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="checkStatement.noData ">无数据</div>

    
</div>
