<div ng-controller="checkController as check" ng-init="check.init()">
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="check.close()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">检票</h4>
                </div>
                <form name="checkForm" class="form form-vertical" ng-submit="checkForm.$valid && check.check()">
                    <div class="modal-body">
                        <!-- info -->
                        <table class="table table-condensed">
                            <thead>
                                <th>订单信息</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>订单号</td>
                                    <td>{{check.orders.orderId}}</td>
                                </tr>
                                <tr>
                                    <td>分销商订单号</td>
                                    <td>{{check.orders.parterOrderId}}</td>
                                </tr>
                                <tr>
                                    <td>预定人</td>
                                    <td>{{check.orders.bookPerson}}</td>
                                </tr>
                                <tr>
                                    <td>手机</td>
                                    <td>{{check.orders.bookMobile}}</td>
                                </tr>
                                <tr>
                                    <td>游玩日期</td>
                                    <td>{{check.orders.visitDateStart | date:'yyyy.MM.dd'}} ~ {{check.orders.visitDateEnd | date:'yyyy.MM.dd'}}</td>
                                </tr>
                                <tr>
                                    <td>成交时间</td>
                                    <td>{{check.orders.orderCreateTime | date:'yyyy.MM.dd HH:mm'}}</td>
                                </tr>
                                <tr>
                                    <td>商品名称</td>
                                    <td>{{check.orders.goodsName}}</td>
                                </tr>
                                <tr>
                                    <td>分销商名称</td>
                                    <td>{{check.orders.partnerName}}</td>
                                </tr>
                                <tr>
                                    <td>可检票</td>
                                    <td>{{check.orders.waitingTickets}}</td>
                                </tr>
                                <tr  ng-if="check.orders.offlinePay == '1'">
                                    <td style="color:red">该票为到付票，请确认是否已支付</td>
                                    <td class="pay-confirm" ng-click="check.confirmPay()"><input type="checkbox" name="" ng-model="check.checkPay" ng-click="check.confirmPay()" style="position: relative; top: 2px; cursor: pointer"> 确认支付</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <label>检票数</label>
                        <!-- <div class="input-group">
                        	<a class="input-group-addon btn">-</a>
                            <input type="number" class="form-control" value="3" placeholder="请输入检票数量" aria-describedby="basic-addon2">
                            <a class="input-group-addon btn" disabled>+</a>
                        </div> -->
                        <input ng-model="check.orders.checkNumber" min="1" max="{{check.orders.waitingTickets}}" type="number" class="form-control" value="" placeholder="请输入检票数量" aria-describedby="basic-addon2" required>
                        <!-- info end -->
                    </div>
                    <div class="modal-footer">
                        <button ng-click="check.close()" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-class="{disabled:(check.showTxtBool || !check.checkPay)}">{{check.showTxt}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
