<div ng-controller="exportStatementsListController as exportStatementsList">
    <a>
        <strong>
            <i class="glyphicon glyphicon-list-alt"></i>
            报表中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            导出列表         
        </strong>
    </a>
    <hr>
    <div class="row">
        
        <div class="col-xs-6">
            <div class="btn-group ">
                
                <a ng-click="exportStatementsList.delete()" ng-class="{disabled: !exportStatementsList.isChecked()}" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </a>

            </div>
        </div>
    </div>
    <hr class="break-space">
    <div ng-show="exportStatementsList.loading">loading...</div>
    <table ng-table="exportStatementsList.tableParams" ng-init="exportStatementsList.search()" class="table table-hover table-striped">
        <tr ng-repeat="row in $data">
            <td width="30" style="text-align: center;" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="exportStatementsList.checkboxes.items[row.id]" />
            </td>
            <td title="'文件名'" style="min-width:15em">
                {{row.fileName}}
            </td>
            <td title="'查询条件'" style="word-break:break-all">
                {{row.query}}
            </td>
            <td title="'创建时间'">
                {{row.exportTime | date:"yyyy.MM.dd HH:mm:ss"}}
            </td>
            
            <td title="'导出人'" style="min-width:6em">
                {{row.exportPerson}}
            </td>
            <td title="'状态'" style="min-width:6em">
                {{exportStatementsList.getStatus(row.status)}}
            </td>

            <td title="'操作'">                
                <a download="{{row.fileName}}" href="{{row.downloadUrl}}" ng-show="exportStatementsList.canDownload(row.status)" title="下载" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-download"></i>
                    下载
                </a>
            </td>
        </tr>
    </table>

    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="exportStatementsList.checkboxes.checked" value="" />
    </script>

</div>