<div ng-controller="exportStatementsListController as exportStatementsList">
    <a>
        <strong>
            <i class="glyphicon glyphicon-list-alt"></i>
            报表中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            导出列表         
        </strong>
    </a>
    <hr>
    <div class="row">
        
        <div class="col-xs-6">
            <div class="btn-group ">
                
                <a ng-click="exportStatementsList.delete()" ng-class="{disabled: !exportStatementsList.isChecked()}" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </a>

            </div>
        
            <div class="controls btn-group col-sm-2 col-condensed">
                <select ng-model="" class="form-control">
                    <option value="all" class="" selected="selected">全部类型</option>
                    <option label="检票报表" value="">检票报表</option>
                    <option label="营业汇总" value="">营业汇总</option>
                    <option label="检票员检票报表" value="">检票员检票报表</option>
                    
                </select>
            </div>




        </div>

        <div class="col-xs-6">
            <div class="input-group">
                <input ng-model="exportStatementsList.searchName" type="text" class="form-control" placeholder="商品名">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="exportStatementsList.search()" href>搜索</button>
                </span>
            </div>
        </div>
    </div>
    <hr class="break-space">
    <div ng-show="exportStatementsList.loading">loading...</div>
    <table ng-table="exportStatementsList.tableParams" ng-init="exportStatementsList.search()" class="table table-hover table-striped">
        <tr ng-repeat="row in $data">
            <td width="30" style="text-align: center;" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="exportStatementsList.checkboxes.items[row.id]" />
            </td>
            <td title="'文件名'">
                检票报表_20160701_120100[]
            </td>
            
         
            
            <td title="'报表类型'">
                检票报表
            </td>
<td title="'查询条件'">
                blablala
            </td>


            
            <td title="'创建时间'">
                2016.07.01 15:00:00
            </td>
            
            <td title="'导出人'">
                root
            </td>


            
            <td title="'状态'">
                
                已导出/导出中.../失败
            </td>


            <td title="'操作'">
            
                
                <a ui-sref="goodsEdit({id:row.id})" title="编辑" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-download"></i>
                    下载
                </a>
                
            </td>
        </tr>
    </table>

    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="exportStatementsList.checkboxes.checked" value="" />
    </script>
    
    exportStatementsList
    <a ui-sref="index">导出报表提示框</a>
</div>