<div ng-controller="goodsListController as goodsList">
    <a>
        <strong>
            <i class="glyphicon glyphicon-usd"></i>
            销售中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            商品列表         
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group ">
                <a class="btn btn-default" ui-sref="goodsAdd">
                    <i class="glyphicon glyphicon-plus"></i> 添加商品
                </a>
                <a ng-click="goodsList.delete()" ng-class="{disabled: !goodsList.isChecked()}" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                <input ng-model="goodsList.searchName" type="text" class="form-control" placeholder="商品名">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="goodsList.search()" href>搜索</button>
                </span>
            </div>
        </div>
    </div>
    <hr class="break-space">
    <table ng-table="goodsList.tableParams" ng-init="goodsList.search()" class="table table-hover table-striped">
        <tr ng-repeat="row in $data">
            <td width="30" style="text-align: center;" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="goodsList.checkboxes.items[row.id]" />
            </td>
            <td title="'商品名'">
                {{row.goodsName}}
            </td>
            <td title="'检票时间'">
                {{row.checkTimeStart}} ~ {{row.checkTimeEnd}}
            </td>
            <td title="'检票期限'">
                前{{row.beforeDays}}天，后{{row.afterDays}}天
            </td>
            <td title="'成本价'">
                ￥{{row.cost}}
            </td>
            <!-- 客户要求去掉，可游玩时间 -->
            <!-- <td title="'可游玩时间'">
                {{row.validDateStart | date:'yyyy.MM.dd'}} ~ {{row.validDateEnd | date:'yyyy.MM.dd'}}
            </td> -->
            <td title="'创建时间'">
                {{row.createDate | date:'yyyy.MM.dd'}}
            </td>
            <td title="'操作'">
                <small>
                    <a ng-click="goodsList.changeStatus(row.status, row.id)" title="{{goodsList.getStatusAction(row.status)}}" ng-class="{ 'btn-success': goodsList.isOn(row.status), 'btn-warning': !goodsList.isOn(row.status) }" class="btn btn-default btn-xs">
                        <i ng-class="{ 'glyphicon-ok': goodsList.isOn(row.status), 'glyphicon-lock': !goodsList.isOn(row.status) }" class="glyphicon"></i>
                        {{goodsList.getStatus(row.status)}}
                    </a>
                    
                    <a ui-sref="goodsEdit({id:row.id})" title="编辑" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i>
                        编辑
                    </a>
                </small>
            </td>
        </tr>
    </table>
    <div ng-show="goodsList.loading">loading...</div>
    <div ng-show="goodsList.noData">无数据</div>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="goodsList.checkboxes.checked" value="" />
    </script>
    
</div>
