<div ng-controller="loginController as login" class="bg-gray full-screen">
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">西塘清云票管家</a>
            </div>
        </div>
        <!-- /container -->
    </div>
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <div class="container-fluid">
        <div class="row">
            <div class="center-block fixed-width-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录</h3>
                    </div>
                    <div class="panel-body">
                        <form name="loginForm" class="form form-vertical" ng-submit="loginForm.$valid && login.login()">
                            <div class="control-group">
                                <label>账号</label>
                                <div class="controls">
                                    <input type="text" class="form-control" placeholder="输入账号" required ng-model="login.account">
                                </div>
                            </div>
                            <div class="control-group">
                                <label>密码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" placeholder="输入密码" required ng-model="login.password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label>企业码</label>
                                <div class="controls">
                                    <input type="password" class="form-control" placeholder="输入企业码" required ng-model="login.projectName">
                                </div>
                            </div>
                            <hr class="break-space">
                            <div class="control-group">
                                <button type="submit" class="btn btn-primary btn-block">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>{{login.msg}}</div>
</div>
