<div ng-controller="monthlyChartsController as monthlyCharts" ng-init="monthlyCharts.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-equalizer"></i>
            图表统计
            <i class="glyphicon glyphicon-chevron-right"></i>
            月度销售统计
        </strong>
    </a>
    <hr>
    <div class="row">
        <label class="col-sm-1 inline-title">年份</label>
        <div class="col-sm-2 col-condensed">
            <input id="monthly-year" class="form-control overflow-ellipsis" size="16" type="number" ng-model="year">
        </div>
        <label class="col-sm-1 inline-title">月份</label>
        <div class="col-sm-2 col-condensed">
            <input id="monthly-month" class="form-control overflow-ellipsis" size="16" type="number" ng-model="month">
        </div>
        <label class="col-sm-1 inline-title good-name">查询结果</label>
        <form class="form-inline">
            <div class="form-group">
                <label>
                    <input ng-click="monthlyCharts.search(0)" class="form-control" size="16" type="radio" value="0" ng-model="searchType" name="search-type" checked>金额
                </label>

                <label>
                    <input ng-click="monthlyCharts.search(1)" class="form-control" size="16" type="radio" value="1" ng-model="searchType" name="search-type">数量
                </label>
            </div>
        </form>
        <div class="controls pull-right orders-chart-search">
            <button class="btn btn-primary" ng-click="monthlyCharts.search()" href>
                <i class="glyphicon glyphicon-search"></i>搜索
            </button>
        </div>
    </div>
    <div fusioncharts
         class="orders-chart"
         width="900"
         height="500"
         type="msline"
         dataSource="{{monthlyChartsData}}" >
    </div>
    <div ng-show="monthlyCharts.loading">loading...</div>
    <div ng-show="monthlyCharts.noData">无数据</div>
</div>
