<div ng-controller="monthlyChartsController as monthlyCharts" ng-init="monthlyCharts.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-equalizer"></i>
            图表统计
            <i class="glyphicon glyphicon-chevron-right"></i>
            月度销售统计
        </strong>
    </a>
    <hr>
    <div class="row">
        <label class="col-sm-1 inline-title">年份</label>
        <div class="col-sm-2 col-condensed">
          <input id="monthly-year" class="form-control overflow-ellipsis" size="16" type="number" ng-model="monthlyCharts.year">
        </div>
        <label class="col-sm-1 inline-title">月份</label>
        <div class="col-sm-2 col-condensed">
            <select class="col-sm-2 form-control cursor-pointer" ng-model="monthlyCharts.month">
                <option value="1">1月</option>
                <option value="2">2月</option>
                <option value="3">3月</option>
                <option value="4">4月</option>
                <option value="5">5月</option>
                <option value="6">6月</option>
                <option value="7">7月</option>
                <option value="8">8月</option>
                <option value="9">9月</option>
                <option value="10">10月</option>
                <option value="11">11月</option>
                <option value="12">12月</option>
            </select>
        </div>        
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <label>查询结果:</label>
          &nbsp;
          <button class="btn btn-primary" ng-click="monthlyCharts.search(1)">
            <i class="glyphicon glyphicon-search"></i> 数量
          </button>
          &nbsp;
          <button class="btn btn-primary" ng-click="monthlyCharts.search(0)">
            <i class="glyphicon glyphicon-search"></i> 金额
          </button> 
        </div>     
    </div>
    <hr class="break-space-double">
    <hr class="break-space-double">
    <div id="e-line" style="width: 1000px;height:400px;"></div>
</div>
