<div ng-controller="operatingStatementController as operatingStatement" class="container-fluid">
    <a>
        <strong>
            <i class="glyphicon glyphicon-usd"></i>
            销售中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            商品列表         
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">
                <input ng-model="operatingStatement.searchName" type="text" class="form-control" placeholder="商品名">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="operatingStatement.search()" href>搜索</button>
                </span>
            </div>
        </div>
    </div>
    <hr class="break-space">
    <div ng-show="operatingStatement.loading">loading...</div>
    <table ng-table="operatingStatement.tableParams" ng-init="operatingStatement.search()" class="table table-hover table-striped">
        <colgroup>
          <col width="60%" />
          <col width="20%" />
          <col width="20%" />
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups">
          <td colspan="3">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
              <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
              <strong>{{ group.value }}</strong>
            </a>
          </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
            <td sortable="'成本价'" data-title="'成本价'" groupable="'cost'" ng-if="false">
                {{row.cost}}
            </td>
            <td data-title="'商品名'">
                {{row.goodsName}}
            </td>
            <td data-title="'检票时间'">
                {{row.checkTimeStart}} ~ {{row.checkTimeEnd}}
            </td>
            <td data-title="'检票期限'">
                前{{row.beforeDays}}天，后{{row.afterDays}}天
            </td>
            <td data-title="'有效时间'">
                {{row.validDateStart | date:'yyyy.MM.dd'}} ~ {{row.validDateEnd | date:'yyyy.MM.dd'}}
            </td>
            <td data-title="'创建时间'">
                {{row.createDate | date:'yyyy.MM.dd'}}
            </td>
        </tr>
    </table>
    
</div>