<div ng-controller="ordersChartsController as ordersCharts" ng-init="ordersCharts.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-equalizer"></i>
            图表统计
            <i class="glyphicon glyphicon-chevron-right"></i>
            订单统计图表
        </strong>
    </a>
    <hr>
    <div class="row">
        <label class="col-sm-1 inline-title">下单时间</label>
        <div class="col-sm-2 col-condensed">
            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">
                <!-- <span class="input-group-addon ">开始</span> -->
                <input id="order-create-date-start" class="form-control overflow-ellipsis cursor-pointer" size="16" type="text" value="" readonly>
                <input type="hidden" id="rd_qcaxwa" value="" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>

            </div>
        </div>
        <div class="col-sm-2 col-condensed">
            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_khaydt" data-link-format="yyyy-mm-dd">
                <!-- <span class="input-group-addon ">结束</span> -->
                <input id="order-create-date-end" class="form-control overflow-ellipsis cursor-pointer" size="16" type="text" value="" readonly>
                <input type="hidden" id="rd_khaydt" value="" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
        </div>
        <div class="col-sm-7 row">
            <label class="col-xs-1 inline-title">商品</label>
            <div  class="col-xs-4 col-sm-4">            
                <select class="form-control cursor-pointer" ng-model="ordersCharts.myGoods"  ng-options="goods.goodsName for goods in ordersCharts.goods" style="padding: 0 12px;">
                    <option value="">- 请选择商品 -</option>
                </select> 
            </div>
            <label class="col-sm-1 inline-title">分销商</label>
            <div  class="col-xs-4 col-sm-4">            
                <select class="form-control cursor-pointer" ng-model="ordersCharts.myPartner"  ng-options="partner.partnerName for partner in ordersCharts.partners" style="padding: 0 12px;">
                    <option value="">- 请选择分销商 -</option>
                </select> 
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" ng-click="ordersCharts.search(true)">
                    <i class="glyphicon glyphicon-search"></i>搜索
                </button>
            </div>            
        </div>   
    </div>
    <hr class="break-space-double">
    <hr class="break-space-double">
    <div class="row">
        <!-- echarts饼图 -->
      <div class="col-sm-6" id="e-pie" style="width: 500px;height:400px;"></div>
      <div class="col-sm-3" id="orders-charts-list">
        <table ng-show="ordersCharts.showList">
          <tr><td>订单总数：&nbsp;</td><td>{{ordersCharts.orderData.totalCount}} 人</td></tr>
          <tr><td>订单金额：&nbsp;</td><td>{{ordersCharts.orderData.TotalMoney}} 元</td></tr>
          <tr><td>已检人数：&nbsp;</td><td>{{ordersCharts.orderData.CheckedCount}} 人</td></tr>
          <tr><td>未检人数：&nbsp;</td><td>{{ordersCharts.orderData.UncheckedCount}} 人</td></tr>
          <tr><td>已退人数：&nbsp;</td><td>{{ordersCharts.orderData.RefundedCount}} 人</td></tr>
        </table> 
      </div>
      <div class="col-sm-3" id="orders-charts-content" ng-show="ordersCharts.showContent">
            <h4><b>未来7天预计</b></h4>
            <table id="orders-charts-tab">            
              <tr><td>游玩时间</td><td>总人数</td><td>总金额</td></tr>
              <tr ng-repeat="day in ordersCharts.days">
                <td>{{day.VisitDate}}</td><td>{{day.TotalPeople}}</td><td>{{day.TotalCount}}</td>
              </tr>
            </table>
        </div>       
    </div>
</div>
