<div ng-controller="ordersListController as ordersList" ng-init="ordersList.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-usd"></i>
            销售中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            商品列表         
        </strong>
    </a>
    <hr>
    <div class="row">
            
            
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    检票状态 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a>已检票</a></li>
                    <li><a>未检票</a></li>
                    <li><a>检票中</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a>全部状态</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    是否过期 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a>未过期</a></li>
                    <li><a>已过期</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a>全部状态</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    成交日期 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu fixed-width-7">
                    <li>
                        <div class="input-group date form_date  in-drop" data-date="" data-date-format="dd MM yyyy" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">
                            <span class="input-group-addon illution">开始</span>
                            <input class="form-control illution" size="16" type="text" value="" readonly>
                            <input type="hidden" id="rd_qcaxwa" value="" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <div class="input-group date form_date  in-drop" data-date="" data-date-format="dd MM yyyy" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">
                            <span class="input-group-addon illution">结束</span>
                            <input class="form-control illution" size="16" type="text" value="" readonly>
                            <input type="hidden" id="rd_qcaxwa" value="" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>

                    </li>
                    <li><a>查询</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a>清除</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    游玩日期 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu fixed-width-7">
                    <li>
                        <div class="input-group date form_date  in-drop" data-date="" data-date-format="dd MM yyyy" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">
                            <span class="input-group-addon illution">开始</span>
                            <input class="form-control illution" size="16" type="text" value="" readonly>
                            <input type="hidden" id="rd_qcaxwa" value="" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <div class="input-group date form_date  in-drop" data-date="" data-date-format="dd MM yyyy" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">
                            <span class="input-group-addon illution">结束</span>
                            <input class="form-control illution" size="16" type="text" value="" readonly>
                            <input type="hidden" id="rd_qcaxwa" value="" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>

                    </li>
                    <li><a>查询</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a>清除</a></li>
                </ul>
            </div>
            



            <div class="input-group">
                <input ng-model="ordersList.searchName" type="text" class="form-control" placeholder="预订人">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ordersList.search()" href>搜索</button>
                </span>
            </div>

            <div class="input-group">
                <input ng-model="ordersList.searchName" type="text" class="form-control" placeholder="手机">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ordersList.search()" href>搜索</button>
                </span>
            </div>

            <div class="input-group">
                <input ng-model="ordersList.searchName" type="text" class="form-control" placeholder="订单号">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ordersList.search()" href>搜索</button>
                </span>
            </div>

            <div class="input-group">
                <input ng-model="ordersList.searchName" type="text" class="form-control" placeholder="分销商订单号">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ordersList.search()" href>搜索</button>
                </span>
            </div>

            <div class="input-group">
                <input ng-model="ordersList.searchName" type="text" class="form-control" placeholder="分销商">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ordersList.search()" href>搜索</button>
                </span>
            </div>

            <div class="input-group">
                <input ng-model="ordersList.searchName" type="text" class="form-control" placeholder="商品名">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ordersList.search()" href>搜索</button>
                </span>
            </div>












        
    </div>
    <hr class="break-space">
    <div ng-show="ordersList.loading">loading...</div>
    <table ng-table="ordersList.tableParams" ng-init="ordersList.search()" class="table table-hover table-striped">
        <button type="submit" class="btn btn-default pull-right">
            <i class="glyphicon glyphicon-export"></i> 导出
        </button>
        <tr ng-repeat="row in $data">
            <td width="30" style="text-align: center;" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="ordersList.checkboxes.items[row.id]" />
            </td>
            <td title="'订单号'">
                #201607082234
            </td>
            <td title="'分销商订单号'">
                #201607082234
            </td>

            <td title="'商品名'">
                {{row.goodsName}}
            </td>
            <td title="'单价'">
                ￥{{row.cost}}
            </td>
            <td title="'预订人'">
                路人甲
            </td>
            <td title="'手机号'">
                1380013800138
            </td>
            <td title="'分销商'">
                驴妈妈
            </td>
            <td title="'成交时间'">
                2016.7.1 15:00
            </td>
            <td title="'游玩时间'">
                {{row.validDateStart | date:'yyyy.MM.dd'}} ~ {{row.validDateEnd | date:'yyyy.MM.dd'}}
            </td>
            <td title="'数量'">
                3
            </td>
            <td title="'已检'">
                2
            </td>
            <td title="'退票'">
                0
            </td>
            <td title="'状态'">
                有效
            </td>

            <td title="'操作'">
                <a ng-click="ordersList.showDetail(row.id)" title="编辑" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-list"></i> 明细
                </a>
            </td>
        </tr>
    </table>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="ordersList.checkboxes.checked" value="" />
    </script>
</div>
