<div ng-controller="partnerConfigController as partnerConfig">
    <a>
        <strong>
			<i class="glyphicon glyphicon-usd"></i>
			销售中心
			<i class="glyphicon glyphicon-chevron-right"></i>
			分销商设置
		</strong>
    </a>
    <hr>
   
    <table ng-table="partnerConfig.tableParams" ng-init="partnerConfig.search()" class="table table-hover table-striped">
        <tr ng-repeat="row in $data">
            
            <!-- <td title="'分销商编码'">
                {{row.partnerCode}}
            </td> -->

            <td title="'分销商'">
                {{row.partnerName}}
            </td>
            
            <td title="'操作'">
                <small>
                    <a ng-click="partnerConfig.changeStatus(row.status, row.partnerCode)" title="{{partnerConfig.getStatusAction(row.status)}}" ng-class="{ 'btn-success': partnerConfig.isOn(row.status), 'btn-warning': !partnerConfig.isOn(row.status) }" class="btn btn-default btn-xs">
                        <i ng-class="{ 'glyphicon-ok': partnerConfig.isOn(row.status), 'glyphicon-lock': !partnerConfig.isOn(row.status) }" class="glyphicon"></i>
                        {{partnerConfig.getStatus(row.status)}}
                    </a>
                </small>
            </td>
        </tr>
    </table>
    <div ng-show="partnerConfig.loading">loading...</div>
    <div ng-show="partnerConfig.noData">无数据</div>
    
</div>
