<div ng-controller="personalInfoController as personalInfo" ng-init="personalInfo.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-user"></i>
            个人信息            
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default panel-sm">
                <div class="panel-heading">
                    个人信息
                </div>
                <div class="panel-body">
                    <form class="form form-vertical" name="personalInfoForm" ng-submit="personalInfoForm.$valid && personalInfo.submit()">
                        <div class="control-group">
                            <label class="">账号</label>
                            <p>{{personalInfo.user.account}}</p>
                        </div>
                        <hr class="break-space">
                        <div class="control-group">
                            <label class="">角色</label>
                            <p>{{personalInfo.user.roleName}}</p>
                        </div>
                        <hr class="break-space">
                        
                        <div class="control-group">
                            <label class="required-info">真实姓名称</label>
                            <div class="controls">
                                <input ng-model="personalInfo.user.userName" type="text" class="form-control" required>
                            </div>
                        </div>
                        <hr class="break-space">
                        
                        <div class="control-group">
                            <label class="required-info">手机</label>
                            <div class="controls">
                                <input ng-model="personalInfo.user.mobile" type="text" class="form-control" required>
                            </div>
                        </div>
                        
                        <hr class="break-space">
                        <div class="control-group">
                            <label></label>
                            <div class="controls pull-right">
                                <button type="submit" class="btn btn-primary" ng-class="{disabled:personalInfo.submitting}">
                                    {{personalInfo.btnText}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
