<div ng-controller="productsListController as productsList">
    <div class="row">
        <div class="col-xs-9">
            <div class="btn-group ">
                <a class="btn btn-default" ui-sref="saleCodeAdd">
                    <i class="glyphicon glyphicon-plus"></i> 添加商品
                </a>
                <a class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="商品名">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="productsList.search()" href>搜索</button>
                </span>
            </div>
        </div>
    </div>
    <hr class="break-space">
    <div ng-show="productsList.loading">loading...</div>
    <table ng-table="productsList.tableParams" ng-init="productsList.search()" class="table table-hover table-striped">
        <tr ng-repeat="row in $data">
            <td width="30" style="text-align: center;" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="productsList.checkboxes.items[row.id]" />
            </td>
            <td title="'商品名'">
                {{row.name}}
            </td>
            <td title="'检票时间'">
                08:00 ~ 16:30
            </td>
            <td title="'检票期限'">
                前{{row.id}}天，后{{row.id}}天
            </td>
            <td title="'成本价'">
                ￥100
            </td>
            <td title="'有效时间'">
                2016.07.01 ~ 2016.08.01
            </td>
            <td title="'创建时间'">
                2016.01.01
            </td>
            <td title="'操作'">
                <small>
                    <a title="禁用" class="btn btn-default btn-xs btn-success" ui-sref="saleCodeUpdate({saleCodeID:10})">
                        <i class="glyphicon glyphicon-ok"></i>
                        已启用
                    </a>
                    
                    <a title="编辑" class="btn btn-default btn-xs" ui-sref="saleCodeUpdate({saleCodeID:10})">
                        <i class="glyphicon glyphicon-pencil"></i>
                        编辑
                    </a>
                </small>
            </td>
        </tr>
    </table>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="productsList.checkboxes.checked" value="" />
    </script>
</div>
