<div ng-controller="saleEditController as saleEdit" ng-init="saleEdit.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-usd"></i>
            销售中心
            <i class="glyphicon glyphicon-chevron-right"></i>
            价格管理
            <i class="glyphicon glyphicon-chevron-right"></i>
            编辑价格            
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default panel-sm">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-wrench pull-right"></i> 价格信息
                </div>
                <div class="panel-body">
                    <form name="saleEditForm" class="form form-vertical" ng-submit="saleEditForm.$valid && saleEdit.submit()">
                        <label class="font-normal">基本信息</label>
                        <hr class="hr-half">
                        <div class="form-group">
                            <label class="required-info">商品</label>
                            <div class="controls">
                                <select required ng-model="saleEdit.myGoods" class="form-control" ng-options="goods.goodsName for goods in saleEdit.goods">
                                    <option value="">- 请选择商品 -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required-info">分销商</label>
                            <div class="controls">
                                <select required ng-model="saleEdit.myPartner" class="form-control" ng-options="partner.partnerName for partner in saleEdit.partners">
                                    <option value="">- 请选择分销商 -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>单价</label>
                            <div class="controls input-group">
                                <span class="input-group-addon">
                                    ￥
                                </span>
                                <input ng-model="saleEdit.sale.price" type="number" step="0.01" class="form-control" placeholder="00.00" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required-info">可销售时间</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_dmukgs" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">开始</span>
                                        <input id="sale-date-start" class="form-control cursor-pointer" size="16" type="text" value="" readonly>
                                        <input type="hidden" id="rd_dmukgs" value="" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">结束</span>
                                        <input id="sale-date-end" class="form-control overflow-ellipsis" size="16" type="text" value="" readonly>
                                        <input type="hidden" id="rd_qcaxwa" value="" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required-info">二维码</label>
                            <div class="controls">
                                <select required ng-model="saleEdit.sale.TwoDBarCodeOn" class="form-control"  ng-options="option.name for option in saleEdit.twoCodeOptions">
                                    <option value="">- 二维码是否开启 -</option>
                                    <option value="1">On</option>
                                    <option value="0">Off</option>
                                </select>


                            </div>
                        </div>
                        <div >
                            <div class="form-group">
                                <label class="required-info">对接YiGao的Id</label>
                                <div class="controls">
                                    <input ng-required="saleEdit.sale.TwoDBarCodeOn.code == 1" ng-model="saleEdit.sale.GateGoodsID  " class="form-control"   type="text" ng-disabled="!(saleEdit.sale.TwoDBarCodeOn.code == 1)"/>
                                       
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="required-info">对接YiGao的数量</label>
                                <div class="controls">
                                     <input ng-required="saleEdit.sale.TwoDBarCodeOn.code == 1" ng-model="saleEdit.sale.GateGoodsCount" class="form-control"   type="number" ng-disabled="!(saleEdit.sale.TwoDBarCodeOn.code == 1)"/>
                                </div>
                            </div>
                        </div>
                        <hr class="break-space">
                        <label class="font-normal">预定信息</label>
                        <hr class="hr-half">
                        <div class="form-group">
                            <label class="required-info">当天可买票时间</label>
                            <div class="row">
                                
                                   <!-- 客户要求去掉，买票开始时间 -->
                                    <!-- <div class="controls input-group">
                                        <span class="input-group-addon">开始</span>
                                        <input id="validTimeStart" required type="time" class="form-control" placeholder="当天可买票时间">
                                    </div> -->
                                    <!-- <label class="label-explain">填写格式为 [时:分] ，如 [00:00]</label> -->
                               
                                <div class="col-sm-6">
                                    <div class="controls input-group">
                                        
                                        <input id="validTimeEnd" required type="time" class="form-control" placeholder="当天可买票时间">
                                        <span class="input-group-addon">前</span>
                                    </div>
                                    <!-- <label class="label-explain">填写格式为 [时:分] ，如 [10:00]</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="controls">
                                <button ui-sref="saleList" class="btn btn-default">
                                    取消
                                </button>
                                <button type="submit" class="btn btn-primary" ng-class="{disabled:saleEdit.submitting}">
                                    {{saleEdit.addBtnText}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>