<div ng-controller="saleListController as saleList">
    <a>
        <strong>
		<i class="glyphicon glyphicon-usd"></i>
		销售中心
		<i class="glyphicon glyphicon-chevron-right"></i>
		价格管理             
		</strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group ">
                <a ui-sref="saleAdd" class="btn btn-default" data-page="#page0061">
                    <i class="glyphicon glyphicon-plus"></i> 添加价格
                </a>
                <a ng-click="saleList.delete()" ng-class="{disabled: !saleList.isChecked()}" class="btn btn-default" data-deabledby="0006">
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <input ng-model="saleList.searchStr" type="text" class="form-control" placeholder="商品/单价/分销商">
                <span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="saleList.search()">搜索</button>
				</span>
            </div>
        </div>
    </div>
    <hr class="break-space">
    <div ng-show="saleList.loading">loading...</div>
    <table ng-table="saleList.tableParams" ng-init="saleList.search()" class="table table-hover table-striped">
        <tr ng-repeat="row in $data">
            <td width="30" style="text-align: center;" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="saleList.checkboxes.items[row.saleId]" />
            </td>
            <td title="'商品名'">
                {{row.goodsName}}
            </td>
            <td title="'分销商'">
                {{row.partnerName}}
            </td>
            <td title="'单价'">
                ￥{{row.price}}
            </td>

            <td title="'当天可买票时间时间'">
                {{row.validTimeStart}} ~ {{row.validTimeEnd}}
            </td>
            
            <td title="'有效时间'">
                {{row.saleDateStart | date:'yyyy.MM.dd'}} ~ {{row.saleDateEnd | date:'yyyy.MM.dd'}}
            </td>
            <td title="'创建时间'">
                {{row.createDate | date:'yyyy.MM.dd'}}
            </td>
            <td title="'操作'">
                <small>
                    <a ng-click="saleList.changeStatus(row.status, row.saleId)" title="{{saleList.getStatusAction(row.status)}}" ng-class="{ 'btn-success': saleList.isOn(row.status), 'btn-warning': !saleList.isOn(row.status) }" class="btn btn-default btn-xs">
                        <i ng-class="{ 'glyphicon-ok': saleList.isOn(row.status), 'glyphicon-lock': !saleList.isOn(row.status) }" class="glyphicon"></i>
                        {{saleList.getStatus(row.status)}}
                    </a>
                    
                    <a ui-sref="saleEdit({id:row.saleId})" title="编辑" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i>
                        编辑
                    </a>
                </small>
            </td>
        </tr>
    </table>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="saleList.checkboxes.checked" value="" />
    </script>
</div>
