<div ng-controller="sexRatioController as sexRatio" ng-init="sexRatio.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-equalizer"></i>
            图表统计
            <i class="glyphicon glyphicon-chevron-right"></i>
            客户性别统计
        </strong>
    </a>
    <hr>
    <div class="row">
        <label class="col-sm-1 inline-title">下单时间</label>
        <div class="col-sm-2">
            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_qcaxwa" data-link-format="yyyy-mm-dd">                
                <input id="order-create-date-start" class="form-control overflow-ellipsis cursor-pointer" size="16" type="text" value="" readonly>
                <input type="hidden" id="rd_qcaxwa" value="" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="rd_khaydt" data-link-format="yyyy-mm-dd">                
                <input id="order-create-date-end" class="form-control overflow-ellipsis cursor-pointer" size="16" type="text" value="" readonly>
                <input type="hidden" id="rd_khaydt" value="" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
        </div>
        <div class="col-sm-7 row">
            <label class="col-xs-1 inline-title">商品</label>
            <div  class="col-xs-4 col-sm-4">            
                <select class="form-control cursor-pointer" ng-model="sexRatio.myGoods"  ng-options="goods.goodsName for goods in sexRatio.goods" style="padding: 0 12px;">
                    <option value="">- 请选择商品 -</option>
                </select> 
            </div>
            <label class="col-sm-1 inline-title">分销商</label>
            <div  class="col-xs-4 col-sm-4">            
                <select class="form-control cursor-pointer" ng-model="sexRatio.myPartner"  ng-options="partner.partnerName for partner in sexRatio.partners" style="padding: 0 12px;">
                    <option value="">- 请选择分销商 -</option>
                </select> 
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" ng-click="sexRatio.search(true)">
                    <i class="glyphicon glyphicon-search"></i>搜索
                </button>
            </div>            
        </div>        
    </div>
    <hr class="break-space-double">
    <hr class="break-space-double">
    
    <!-- echarts饼图 -->
    <div id="e-pie" style="width: 600px;height:400px;"></div>
    
</div>
