<div ng-controller="userAddController as userAdd" ng-init="userAdd.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-wrench"></i>
            管理员工具
            <i class="glyphicon glyphicon-chevron-right"></i>
            添加用户           
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default panel-sm">
                <div class="panel-heading">
                    用户信息
                </div>
                <div class="panel-body">
                    <form name="userAddForm" class="form form-vertical" ng-submit="userAddForm.$valid && userAdd.submit()">
                        <div class="control-group">
                            <label class="required-info">帐号</label>
                            <div class="controls">
                                <input ng-model="userAdd.user.account" type="text" class="form-control" placeholder="请输入帐号" required>
                            </div>
                        </div>
                        
                        <hr class="break-space">
                        <div class="control-group">
                            <label class="required-info">初始密码</label>
                            <div class="controls">
                                <input ng-model="userAdd.user.password" type="password" class="form-control" placeholder="请输入初始密码" required>
                                
                            </div>
                        </div>
                        <hr class="break-space">
                        <div class="control-group">
                            <label class="">角色</label>
                            <div class="controls">
                                <select required ng-model="userAdd.myRole" class="form-control" ng-options="role.roleName for role in userAdd.roles">
                                    <option value="">- 请选择角色 -</option>
                                </select>
                            </div>
                        </div>
                        <hr class="break-space">
                        <div class="control-group">
                            <label class="required-info">真实姓名称</label>
                            <div class="controls">
                                <input ng-model="userAdd.user.userName" type="text" class="form-control" placeholder="请输入真实姓名"required>
                            </div>
                        </div>
                        <hr class="break-space">
                        
                        <div class="control-group">
                            <label class="required-info">手机</label>
                            <div class="controls">
                                <input ng-model="userAdd.user.mobile" type="text" class="form-control" placeholder="请输入手机号" required>
                            </div>
                        </div>
                        <hr class="break-space">
                        
                        <div class="control-group">
                            <label></label>
                            <div class="controls pull-right">
                                <button class="btn btn-default">
                                    取消
                                </button>
                                <button type="submit" class="btn btn-primary" ng-class="{disabled:userAdd.submitting}">
                                    {{userAdd.addBtnText}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>