<div ng-controller="userListController as userList">
    <a>
        <strong>
            <i class="glyphicon glyphicon-wrench"></i>
            管理员工具
            <i class="glyphicon glyphicon-chevron-right"></i>
            用户管理       
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group ">
                <a class="btn btn-default" ui-sref="userAdd">
                    <i class="glyphicon glyphicon-plus"></i> 添加用户
                </a>
                <a ng-click="userList.delete()" ng-class="{disabled: !userList.isChecked()}" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                <input ng-model="userList.searchName" type="text" class="form-control" placeholder="商品名">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="userList.search()" href>搜索</button>
                </span>
            </div>
        </div>
    </div>
    <hr class="break-space">
    <div ng-show="userList.loading">loading...</div>
    <table ng-table="userList.tableParams" ng-init="userList.search()" class="table table-hover table-striped">
        <tr ng-repeat="row in $data">
            <td width="30" style="text-align: center;" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="userList.checkboxes.items[row.id]" />
            </td>
            <td title="'用户名'">
                root
            </td>
            <td title="'角色'">
                超级管理员
            </td>
            <td title="'真实姓名'">
                张三
            </td>
            <td title="'邮箱'">
                abc@xyz.com
            </td>
            <td title="'性别'">
                男
            </td>
            <td title="'手机'">
                13500000000
            </td>
            <td title="'操作'">
                <small>
                    <a ng-click="userList.changeStatus(row.status)" title="{{userList.getStatusAction(row.status)}}" ng-class="{ 'btn-success': userList.isOn(row.status), 'btn-warning': !userList.isOn(row.status) }" class="btn btn-default btn-xs">
                        <i ng-class="{ 'glyphicon-ok': userList.isOn(row.status), 'glyphicon-lock': !userList.isOn(row.status) }" class="glyphicon"></i>
                        {{userList.getStatus(row.status)}}
                    </a>
                    
                    <a ui-sref="goodsEdit({id:row.id})" title="编辑" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i>
                        编辑
                    </a>
                    <a ui-sref="goodsEdit({id:row.id})" title="编辑" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-user"></i>
                        修改角色
                    </a>
                </small>
            </td>
        </tr>
    </table>

    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="userList.checkboxes.checked" value="" />
    </script>
</div>