<div ng-controller="userPasswordResetController as userPasswordReset">
    <a>
        <strong>
            <i class="glyphicon glyphicon-wrench"></i>
            管理员工具
            <i class="glyphicon glyphicon-chevron-right"></i>
            重置密码     
        </strong>
    </a>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default panel-sm">
                <div class="panel-heading">
                    重置密码
                </div>
                <div class="panel-body">
                    <form name="userPasswordResetForm" class="form form-vertical" ng-submit="userPasswordResetForm.$valid && userPasswordReset.submit()">    
                        <div class="control-group">
                            <label class="required-info">管理员密码</label>
                            <div class="controls">
                                <input ng-model="userPasswordReset.myPassword" type="password" data-deabledby="00033" class="form-control" placeholder="请输入您的密码" required>
                            </div>
                        </div>
                        <hr class="break-space">
                        <div class="control-group">
                            <label class="required-info">重置密码</label>
                            <div class="controls">
                                <input ng-model="userPasswordReset.newPassword" type="password" data-deabledby="00033" class="form-control" placeholder="请输入重置密码" required>
                            </div>
                        </div>
                        
                        <hr class="break-space">

                        <div class="control-group">
                            <label></label>
                            <div class="controls pull-right">
                                <button ui-sref="userList" class="btn btn-default">
                                    取消
                                </button>
                                <button type="submit" class="btn btn-primary" ng-class="{disabled:userPasswordReset.submitting}">
                                    {{userPasswordReset.btnText}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
