<div ng-controller="yearlyChartsController as yearlyCharts" ng-init="yearlyCharts.init()">
    <a>
        <strong>
            <i class="glyphicon glyphicon-equalizer"></i>
            图表统计
            <i class="glyphicon glyphicon-chevron-right"></i>
            年度销售统计
        </strong>
    </a>
    <hr>
    <div class="row">
        <label class="col-sm-1 inline-title">年份</label>
        <div class="col-sm-2 col-condensed">
            <input id="monthly-year" class="form-control overflow-ellipsis" size="16" type="number" ng-model="yearlyCharts.year">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <label>查询结果:</label>
          &nbsp;
          <button class="btn btn-primary" ng-click="yearlyCharts.search(0)">
            <i class="glyphicon glyphicon-search"></i> 数量
          </button>
          &nbsp;
          <button class="btn btn-primary" ng-click="yearlyCharts.search(1)">
            <i class="glyphicon glyphicon-search"></i> 金额
          </button>
        </div>        
    </div>
    <hr class="break-space-double">
    <hr class="break-space-double">
    <div id="e-line" style="width: 1000px;height:400px;"></div>
</div>
